<a href="https://colab.research.google.com/github/AllanKamimura/2021EstudosPython/blob/main/2%20-%20Analise%20de%20Energia/consumo_de_energia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

from google_drive_downloader import GoogleDriveDownloader

In [4]:
file_id = "1A88x55wkVMTbGnDD__CzRXbvzMcfpRU_"

GoogleDriveDownloader.download_file_from_google_drive(
    file_id = file_id,
    dest_path = "./consumo.zip",
    unzip = True
)

Downloading 1A88x55wkVMTbGnDD__CzRXbvzMcfpRU_ into ./consumo.zip... Done.
Unzipping...Done.

In [5]:
df = pd.read_csv("/content/AEP_hourly.csv")
df.head()

              Datetime   AEP_MW
0  2004-12-31 01:00:00  13478.0
1  2004-12-31 02:00:00  12865.0
2  2004-12-31 03:00:00  12577.0
3  2004-12-31 04:00:00  12517.0
4  2004-12-31 05:00:00  12670.0